<% %>
<div class="field q11 card-content">
  <%= label_tag :q1, $q1.question.desc, class: "flow-text" %> <br>
  <%= radio_button_tag :q1, $q1.answers[0].value, false, id: "a11" %>
  <label for="a11" class="waves-effect waves-light btn q1"><%= $q1.answers[0].desc %></label> <br> <br>
  <%= radio_button_tag :q1, $q1.answers[2].value, false, id: "a12" %>
  <label for="a12" class="waves-effect waves-light btn q1"><%= $q1.answers[1].desc %></label> <br> <br>
  <%= radio_button_tag :q1, $q1.answers[3].value, false, id: "a13" %>
  <label for="a13" class="waves-effect waves-light btn q1"><%= $q1.answers[2].desc %></label> <br> <br>
  <%= radio_button_tag :q1, $q1.answers[3].value, false, id: "a14" %>
  <label for="a14" class="waves-effect waves-light btn q1"><%= $q1.answers[3].desc %></label>
</div>